body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column; }

.main-nav {
  order: -1; }
  .main-nav ul {
    list-style: none;
    display: flex; }
    .main-nav ul li {
      width: 100px; }
      .main-nav ul li a {
        text-decoration: none;
        font-size: 21px;
        font-weight: 600;
        color: #00a9d9; }
        .main-nav ul li a:hover {
          text-decoration: underline; }

.main-header {
  padding: 10px;
  background-color: #b61e32; }

.main-content {
  padding: 10px;
  min-height: 40vh;
  background-color: #f7ce2b; }

.main-footer {
  padding: 10px;
  background-color: #abc999; }
