body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif; }

.main-nav ul {
  list-style: none;
  display: flex; }

.main-nav li {
  width: 100px; }
  .main-nav li a {
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
    color: #00a9d9; }
    .main-nav li a:hover {
      text-decoration: underline; }
